<h1>PRINTS</h1>
<a href="/prints/new">Add a new print</a>
<table>
  <tr>
    <th>Artist</th>
    <th>Title</th>
    <th>Description</th>
    <th>Wholesale Cost</th>
    <th>Retail Price</th>
    <th>Quantity</th>
    <th>Stock Level</th>
  </tr>
  <% @prints.each do |print| %>
  <tr>
    <td><a href="/artists/<%= print.artist.id %>"><%= print.artist.full_name() %></a></td>
    <td> <a href="/prints/<%= print.id %>"><%= print.title() %></a></td>
    <td><%= print.description %></td>
    <td><%= print.wholesale_cost %></td>
    <td><%= print.retail_price %></td>
    <td><%= print.quantity %></td>
    <td><%= print.stock_level %></td>
  </tr>
  <% end %>
</table>
