<table>

  <tr>
    <th>Artist</th>
    <th>Title</th>
    <th>Description</th>
    <th>Wholesale Cost</th>
    <th>Retail Price</th>
    <th>Quantity</th>
    <th>Stock Level</th>
  </tr>
    <td><%= @print.artist.full_name %></td>
    <td><%= @print.title %></td>
    <td><%= @print.description %></td>
    <td><%= @print.wholesale_cost %></td>
    <td><%= @print.retail_price %></td>
    <td><%= @print.quantity %></td>
    <td class="<%= @print.stock_level_css %>"><%= @print.stock_level %></td>

</table>

  <a href="/prints/<%= @print.id %>/edit">Edit Prints</a>

<form action="/prints/<%= @print.id %>/delete" method="post">
  <input type="submit" value="Delete Print"/>

</form>
