<p><%= @artist.full_name() %></p>
<p><%= @artist.contact %></p>

<% for print in @artist.prints %>
<ul>
<li><%= print.title %></li>
<li><%= print.description %></li>
<li>Wholesale cost: <%= print.wholesale_cost %></li>
<li>Retail price:<%= print.retail_price %></li>
</ul>
<% end %>




<a href="/artists/<%= @artist.id %>/edit">Edit Artist</a>

<form method="post" action="/artists/<%= @artist.id %>/delete">
  <input type="submit" value="Delete Artist"/>
</form>
