

<h1><%= @artist.full_name() %></h1>
<h2><%= @artist.contact %></h2>

<% for print in @artist.prints %>
<ul>
<li><%= print.title %></li>
<li><%= print.description %></li>
<li>Wholesale cost: <%= print.wholesale_cost %></li>
<li>Retail price:<%= print.retail_price %></li>
</ul>
<% end %>

<a href="/artists/<%= @artist.id %>/edit">Edit Artist</a>

<form method="post" action="/artists/<%= @artist.id %>/delete">
  <input type="submit" value="Delete Artist"/>
</form>
